.book-and-offer {
  background: var(--global-background);
  padding: 60px 24px;
}
.book-table__content {
  background-image: url(../img/book-and-offer/book-table.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 20px;
}
.book-table__content-title {
  color: var(--global-text);
  font-size: 14px;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  margin-bottom: 5px;
}
.book-table__content-subtitle {
  color: var(--global-text);
  font-size: 34px;
  font-family: "Dangrek", cursive;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 30px;
  max-width: 300px;
}
.book-table__content-btn {
  background-color: var(--global-button);
  border-width: 2px;
  border-radius: 32px;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
.book-table__content-btn:hover {
  background-color: var(--button-hover-yel);
}
.book-table__content-btn {
  border: none;
  color: var(--global-text);
  font-weight: bold;
  font-size: 15px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  text-align: center;
}
.special-offer__content {
  background-image: url(../img/book-and-offer/special-offer.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.special-offer__content-subtitle {
  color: #32264b;
  font-size: 22px;
  font-family: "Dangrek", cursive;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: center;
}
.special-offer__content-btn {
  background-color: var(--global-background);
  border-width: 2px;
  border-radius: 32px;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}
.special-offer__content-btn:hover {
  background-color: var(--button-hover-pink);
}
.special-offer__content-btn span {
  color: var(--global-text);
  font-weight: bold;
  font-size: 15px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  text-align: center;
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease; 
}
.no-scroll {
  overflow: hidden;
}
.book-table-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: var(--modal-booking);
  border-radius: 5px;
  padding: 0px 24px;
  display: grid;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}
.modal-content{
  position: relative;
  padding: 50px 24px;
  display: flex;
  flex-direction: column;
  transition: all .3s;
}
.modal-close{
  display: inline-flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.modal-close img {
  width: 20px;
}
.book-table-content-title {
  color: var(--global-text);
  font-size: 14px;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}
.book-table-content-subtitle {
  color: var(--global-text);
  font-size: 34px;
  font-family: "Dangrek", cursive;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 10px;
  text-align: center;
}
.book-table-content-secondary {
  color: var(--global-secondary-text);
  font-weight: 500;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
.form-container {
  background-color: #dd8aae;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}
.form-group {
  margin-bottom: 15px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #bb7694;
  color: var(--global-secondary-text);
  font-size: 16px;
  font-weight: 300;
}
input[type="date"] {
  padding-left: 12px;
}
input::placeholder {
  color: var(--global-secondary-text);
  font-weight: 300;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}
.submit-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-book-table);
  color: var(--global-text);
  font-weight: 500;
  font-size: 15px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: var(--button-hover-pink);
}
.show-modal {
  visibility: visible;
  opacity: 1;
  
}
.reservation__form-status{
  color: var(--global-secondary-text);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  margin-top: 10px;
}

@media (min-width: 780px) {
  .book-and-offer__content {
    display: flex;
    gap: 30px;
  }
  .book-table__content {
    flex: 0 0 65%;
    height: 450px;
  }
  .book-table__content-title {
    margin-top: 50px;
  }
  .special-offer__content {
    flex: 0 0 33%;
    height: 450px;
  }
  .book-table__content-title {
    font-size: 17px;
  }
  .book-table__content-subtitle {
    font-size: 42px;
    max-width: 500px;
  }
  .special-offer__content-subtitle {
    font-size: 24px;
  }
}
