.header {
  position: relative;
  z-index: 1;
  background-image: url(../img/background-header-hero.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-menu {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: var(--header-menu);
}
.header__background {
  background-image: linear-gradient(#2e2f328c, #1f202299),
    url(../img/index-header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50.7% 0%;
}
.shopping_cart {
  position: relative;
  margin-right: 40px;
}
.shopping_cart img {
  width: 35px;
  position: relative;
  top: 15px;
  left: 30px;
  text-align: left;
  cursor: pointer;
}
.shopping_cart__quantity {
  background-color: #bd7b97;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--global-text);
  position: absolute;
  top: 2px;
  left: 55px;
  padding: 1px 8px;
}
.shopping_cart-items {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 430px;
  max-width: 100%;
  background-color: #bd7b97;
  height: 100vh;
  transition: 0.5s;
  z-index: 1;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
}
.shopping_cart-title{
  color: var(--global-text);
  font-size: 26px;
  font-family: "Dangrek", cursive;
  font-weight: 300;
  line-height: 1.3;
  margin-top: 75px;
  text-align: center;  
}
.shopping_cart-checkout-total {
  position: sticky;
  bottom: 0;
  padding-left: 60px;
  color: var(--global-text);
  font-size: 25px;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  background-color: #bd7b97;
  z-index: 2;
}
.button-container{
  display: flex;
  align-items: center;
  gap: 30px;  
  justify-content: center;
}
.shopping_cart-checkout-total span{
  color: var(--global-text);
  font-weight: 500;
  font-size: 23px;
  font-family: "Source Sans 3", sans-serif;
  margin-left: 5px;
}
.shopping_cart-checkout-close,
.shopping_cart-checkout-btn{
  border: none;
  color: var(--global-text);
  font-weight: 500;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
  border-width: 2px;
  border-radius: 32px;
  padding: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.shopping_cart-checkout-close{
  background-color: #ce3574;
}
.shopping_cart-checkout-btn{
  background-color: #964064;
}
.shopping_cart-items-list{
  overflow: auto;
  margin-top: 70px;
}
.shopping_cart-items-list::-webkit-scrollbar{
  width: 0;
}
.shopping_cart-items{
  right: -430px;
  transition: 0.5s;
}
body.activeTabCart .shopping_cart-items{
  right: 0;
}
body.activeTabCart .container{
  transform: translate(-100px);
}
.cart-container{
  margin-bottom: 30px;
  margin-left: 40px;
  display: flex;
  gap: 10px;
}
.cart-container-text{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-title{
  color: var(--global-text);
  font-size: 20px;
  font-family: "Dangrek", cursive;
  font-weight: 400;
  line-height: 1.3;
}
.cart-price{
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: "Dangrek", cursive;
  font-weight: 400;
  line-height: 1.3;
}
.cart-quantity{
  margin-left: 20px;
  color: var(--global-secondary-text);
  font-weight: 500;
  font-size: 22px;
  font-family: "Source Sans 3", sans-serif;
}
.plus{
  background-color: white;
  border-radius: 50%;
  color: green;
  border: none;
  font-size: 14px;
  padding: 7px 13px;
}
.minus{
  background-color: white;
  border-radius: 50%;
  color: red;
  border: none;
  font-size: 14px;
  padding: 7px 13px;
}
.cart-container-img img{
  width: 70px;
  height: 70px;
  padding: 10px;
  object-fit: contain;
  background-color: #985384;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border 0.3s;
}
.header__nav {
  display: flex;
  align-items: center;
  color: var(--light-color);
  letter-spacing: 0.3px;
  justify-content: space-between;
  padding: 40px 30px;
  gap: 6px;
}
.header__nav-link {
  display: block;
  width: 218px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0;
  gap: 20px;
}
.nav-list__link a {
  position: relative;
  display: inline-block;
}
.header__menu-btn {
  padding-right: 10px;
}
.header__nav-content {
  display: contents;
  padding: 0px 30px;
}
.nav-list__link:not(.btn-nav) a::before {
  content: "";
  bottom: -4px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  color: var(--button-hover-pink);
  opacity: 0.8;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.nav-list__link:not(.btn-nav) a:hover::before {
  transform: scaleX(1);
  background-color: var(--button-hover-pink);
}
.nav-list__link a {
  color: var(--global-text);
  font-weight: 500px;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-style: normal;
}
.header__nav-menu {
  top: -100vh;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  z-index: 0;
}
.header__navicon {
  top: 20px;
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: var(--burger-menu);
  cursor: pointer;
  transition: background 0.2s ease-out;
}
.header__navicon::before,
.header__navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: var(--burger-menu);
  transition: all 0.2s ease-out;
}
.header__navicon:before {
  top: 7px;
}
.header__navicon:after {
  top: -7px;
}
.header.nav-visible .header__nav-menu {
  top: 110px;
}
.header-menu.nav-visible .header__nav-menu {
  top: 110px;
}
.header.nav-visible .header__background,
.header.nav-visible .header__nav-menu {
  background: var(--global-background);
}
.header-menu.nav-visible .header__background,
.header-menu.nav-visible .header__nav-menu {
  background: var(--header-menu);
}
.header.nav-visible .header__navicon {
  background: transparent;
}
.header-menu.nav-visible .header__navicon {
  background: transparent;
}
.header.nav-visible .header__navicon::before {
  transform: rotate(-45deg);
}
.header-menu.nav-visible .header__navicon::before {
  transform: rotate(-45deg);
}
.header.nav-visible .header__navicon::after {
  transform: rotate(45deg);
}
.header-menu.nav-visible .header__navicon::after {
  transform: rotate(45deg);
}
.header.nav-visible .header__navicon::before,
.header.nav-visible .header__navicon::after {
  top: 0;
}
.header-menu.nav-visible .header__navicon::before,
.header-menu.nav-visible .header__navicon::after {
  top: 0;
}
.header__nav-logo {
  width: 129px;
  height: 63px;
}
.header.nav-visible {
  background-color: var(--global-background);
  background: var(--global-background);
}
.header-menu.nav-visible {
  background-color: var(--header-menu);
  background: var(--header-menu);
}
.header.nav-visible .header__nav-menu {
  background: none;
}
.header-menu.nav-visible .header__nav-menu {
  background: none;
}
.header.nav-visible .header__background,
.header.nav-visible .header__nav-menu {
  background: var(--global-background);
}
.header-menu.nav-visible .header__background,
.header-menu.nav-visible .header__nav-menu {
  background: var(--header-menu);
}
@media (min-width: 460px) {
  .shopping_cart {
    margin-left: 100px;
  }
}
@media (min-width: 550px) {
  .shopping_cart {
    margin-left: 200px;
  }
}
@media (min-width: 650px) {
  .shopping_cart {
    margin-left: 280px;
  }
}
@media (min-width: 740px) {
  .shopping_cart {
    margin-left: 380px;
  }
}
@media (min-width: 840px) {
  .shopping_cart {
    margin-left: 480px;
  }
}
@media (min-width: 940px) {
  .shopping_cart {
    margin-left: 580px;
  }
}
@media (min-width: 1110px) {
  .shopping_cart {
    margin-left: 0px;
  }
  .header__nav {
    padding: 45px 45px;
    gap: 8px;
  }
  .header__menu-btn {
    display: none;
  }
  .header__nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    order: 2;
    gap: 8px;
    height: auto;
    padding: 0;
    margin-top: 38px;
  }
  .nav-list {
    flex-direction: row;
    font-size: 15px;
    gap: 30px;
  }
  .header__nav-btn {
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    padding: 45px 90px;
  }
  .header__nav-logo {
    width: 170px;
    height: 100%;
  }
  .header__nav-content {
    padding-left: 30px;
  }
}
