.view-menu{
    background-color: var(--global-background);
}

.view-menu-content{
    padding: 40px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-menu-content-desserts,
.view-menu-content-milk-shakes,
.view-menu-content-ice-cream{
    border-radius: 10px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.view-menu-content-desserts{
    background-image: url(../img/view-menu/desserts-menu.png);
}

.view-menu-content-milk-shakes{
    background-image: url(../img/view-menu/milk-shakes-menu.png);
}

.view-menu-content-ice-cream{
    background-image: url(../img/view-menu/ice-cream-menu.png);
}

.view-menu-content-title{
    color: var(--global-text);
    font-size: 30px;
    font-family: "Dangrek", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    margin-bottom: 30px;
}

.view-menu-content-button,
.view-menu-content-button-milk{
    border-width: 2px;
    border-radius: 32px;
    padding: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.view-menu-content-button{
    background-color: var(--view-menu-content-button);
}

.view-menu-content-button-milk{
    background-color: var(--view-menu-content-button-milk);
}

.view-menu-content-button span,
.view-menu-content-button-milk span{
    color: var(--global-text);
    font-weight: bold;
    font-size: 16.5px;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    text-align: center;
}

@media (min-width: 640px){
    .view-menu-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .view-menu-content-desserts,
    .view-menu-content-milk-shakes,
    .view-menu-content-ice-cream{
        width: calc(50% - 20px); 
        margin: 10px;
		padding-bottom: 250px;
    }
}

@media (min-width: 949px){
    .view-menu-content {
        flex-wrap: nowrap;
    }
	.view-menu-content-desserts,
    .view-menu-content-milk-shakes,
    .view-menu-content-ice-cream{
		padding-bottom: 300px;
    }
}